@import "../../App.scss";

.row {
  @include flex(center, row);
  .column {
    width: 10vw;
    height: 50px;
    @include flex(center, row);
    border: $border;
    padding: 5px;
  }
  .cell {
    text-align: center;
  }
}
